div.outerbox {
    height: 250px;
}

div.box {
    padding: 15px;
}

img.pic {
    margin: 0 auto;
    height: 55%;
}

div.title {
    text-align: center;
}

.outsourced {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}

.outsourced iframe {
    width: 100%;
    height: 100%;
}

.pull-right .pagination {
    float: right;
}

.well {
    background-color: #495457;
}
