body {
    background:rgb(241, 242, 246)
}

h1 {
    color: #EC87C0;
}
div.title {
    text-align: center;
}

a.block-a {
    display: block;
}

.outsourced {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}

.outsourced iframe {
    width: 80%;
    height: 80%;
    margin 0 auto;
}

.pull-right .pagination {
    float: right;
}

.well {
    background-color: #FFF2F2;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}