{% load static %}
<html>
    <head>
        {% block meta %}{% endblock %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{% static 'css/bootflat.min.css' %}" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        {% block pre_scripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="header">
                <div class="page-header">
                    <h1>{{ site_brand }}  <small>{{ site_slogan }}</small></h1>
                </div>
            </div>

            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48943666-1', 'oporn.tv');
        ga('send', 'pageview');
    </script>
    {% block post_scripts %}{% endblock %}
</html>
