{% extends 'base.html' %}
{% load static pagination_tags %}

    {% block meta %}
    <meta name="keywords" content="{{ category.title }}">
    <meta name="description" content="{{ site_description }}">
    <title>{{ site_title }}</title>
    {% endblock %}

    {% block pre_scripts %}
    {% comment %}<script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>{% endcomment %}
    {% endblock %}

    {% block content %}
        <div class="row" id="isotope-container">
            {% autopaginate documents 52 %}
            {% for doc in documents %}
            <div itemscope itemtype="http://schema.org/WebPage" class="item col-md-3 col-sm-6 col-xs-12" >
                <div itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience" class="thumbnail"> 
                    <meta itemprop="minAge" content="18"/>
                        <a class="block-a" data-id="{{ doc.id }}" itemprop="url" href="{% url 'document' doc.id %}" target="_blank">
                            <img alt="{{ doc.title }}" class="img-responsive img-rounded pic" data-original="{{ doc.image }}" src="{{ doc.image }}" />
                        </a>
                    <div class="caption text-center">
                        <h6><a data-id="{{ doc.id }}" itemprop="url" href="{% url 'document' doc.id %}" target="_blank">{{ doc.title|truncatechars:"30" }}</a></h6>
                    </div>
                    <div>
                        <p>
                            <span class="label label-primary">Duration: {{ doc.duration }}</span>
                            &nbsp;<span class="label label-danger">{{ doc.views }} Views</span>
                        </p>
                        <p>
                            {% for cat in doc.categories.all %}
                            <a href="{{ cat.get_absolute_url }}">
                                <span class="badge {% if category.title == cat.title %}badge-warning{% else %}badge-info{% endif %}">
                                {{ cat.title }}
                                </span>
                            </a>&nbsp;
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="pull-right col-md-12 col-sm-12 cols-xs-12">
                {% paginate %}
            </div>
        </div>
    {% endblock %}

    {% block post_scripts %}
    <script type="text/javascript">
        $(function() {
            var $container = $('#isotope-container').imagesLoaded( function() {
                $container.isotope();
            });
            $('img.lazy').lazyload();
        });
    </script>
    {% endblock %}
