{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>{{ site_title }} - {{ document.title }}</title>
    {% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-md-8 centered" style="height: 60%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ document.title }}</h1>
                </div>

                <div itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience" class="panel-body">
                    <div class="row centered" id="player"></div>
                    <video width="100%" controls autoplay>
                        <source src="{{ document.embed }}">
                    </video>
                    <br />
                    <p><span class="label label-success">Description</span>{{ document.desc }}</p>
                    <p>
                        <span class="label label-primary">Duration: {{ document.duration }}</span>
                        &nbsp;<span class="label label-danger">{{ document.views }} Views</span>
                     </p>
                    <p>
                        {% for category in document.categories.all %}
                        <span class="badge badge-info">{{ category.title }}</span> 
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block post_scripts %}
    <script type="text/javascript">
        $(function() {
            var id = '{{ document.id }}';
            $.ajax({
                cache: false,
                url:'/document/hits/',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
            });
        });
    </script>
    {% endblock %}
