{% extends 'base.html' %}
    {% block meta %}
    <title>{{ site_title }} - {{ document.title }}</title>
    {% endblock %}

    {% block content %}
        <div itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience" class="outsourced">
            <meta itemprop="minAge" content="18"/>
            <div class="row">
                {{ document.embed|safe }}
            </div>

            <div class="row">
                <p>Description: {{ document.desc }}</p>
            </div>

            <div class="row">
                <div class="col-md-6"><p>Duration: {{ document.duration }}</p></div>
                <div class="col-md-6"><p>Views: {{ document.views }}</p></div>
            </div>
            
        </div>
    {% endblock %}

    {% block post_scripts %}
    <script type="text/javascript">
        $(function() {
            var id = '{{ document.id }}';
            $.ajax({
                cache: false,
                url:'/document/hits/',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
            });
        });
    </script>
    {% endblock %}
