{% load static pagination_tags %}
<html>
    <head>
        <meta name="keywords" content="{{ site_keywords }}">
        <meta name="description" content="{{ site_description }}">
        <title>{{ site_title }}</title>
        <link href="{% static 'css/bootstrap-flatly.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% autopaginate documents 50 %}
                {% for doc in documents %}
                <div itemscope itemtype="http://schema.org/WebPage" class="col-md-3 col-sm-4 col-xs-6" >
                    <div itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience" class="box" style="padding:15px;">
                        <meta itemprop="minAge" content="18"/>
                        <div class="row">
                            <a itemprop="url" href="{% url 'document' doc.id %}" target="_blank">
                                <img alt="{{ doc.title }}" class="img-responsive img-rounded pic" src="{{ doc.image }}" />
                            </a>
                        </div>
                        <div class="row title">
                            <h4><a itemprop="url" href="{% url 'document' doc.id %}" target="_blank">{{ doc.title|truncatechars:"30" }}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="pull-right col-md-12 col-sm-12 cols-xs-12">
                    {% paginate %}
                </div>
            </div>
        </div>
    </body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48943666-1', 'oporn.tv');
        ga('send', 'pageview');
    </script>
</html>
