{% extends 'base.html' %}
{% load static pagination_tags %}

    {% block meta %}
    <meta name="keywords" content="{{ site_keywords }}">
    <meta name="description" content="{{ site_description }}">
    <title>{{ site_title }}</title>
    {% endblock %}

    {% block pre_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.infinitescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/infinitescroll.local.js' %}"></script>
    {% endblock %}

    {% block content %}
        <div class="row" id="isotope-container">
            {% for doc in documents %}
            <div itemscope itemtype="http://schema.org/WebPage" class="item col-md-3 col-sm-6 col-xs-12" >
                <div itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience" class="thumbnail"> 
                    <meta itemprop="minAge" content="18"/>
                        <a class="block-a carousel slide" id="myCarousel{{ doc.id }}" data-slide="carousel" data-id="{{ doc.id }}" itemprop="url" href="{% url 'document' doc.id %}" target="_blank">
                            <ol class="carousel-indicators">
                                {% for image in doc.images.all %}
                                <li data-target="#myCarousel{{ doc.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for image in doc.images.all %}
                                    {% if forloop.counter == 1 %}
                                    <div class="item active">
                                        <img style="width:100%" alt="{{ doc.title }}" class="img-responsive img-rounded pic lazy" data-original="{{ image.url }}" src="{% static 'img/oporn.png' %}" />
                                    </div>
                                    {% else %}
                                    <div class="item">
                                        <img style="width:100%" alt="{{ doc.title }}" class="img-responsive img-rounded pic" data-original="{{ image.url }}" src="{{ image.url }}" />
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    <div class="caption text-center">
                        <h6><a data-id="{{ doc.id }}" itemprop="url" href="{% url 'document' doc.id %}" target="_blank">{{ doc.title }}</a></h6>
                    </div>
                    <div>
                        <p>
                            <span class="label label-primary">Duration: {{ doc.duration }}</span>
                            &nbsp;<span class="label label-danger">{{ doc.views }} Views</span>
                        </p>
                        <p>
                            {% for category in doc.categories.all %}
                            <a href="{{ category.get_absolute_url }}"><span class="badge badge-info">{{ category.title }}</span></a>&nbsp;
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if documents.has_next %}
        <nav id="page_nav" style="display:none;">
            <a href="?page={{ documents.next_page_number }}">next</a>
        </nav>
        {% endif %}
    {% endblock %}

    {% block post_scripts %}
    <script type="text/javascript">
        $(function() {
            $('img.lazy').lazyload();
            var $container = $('#isotope-container').imagesLoaded( function() {
                $container.isotope();
                $('[id^="myCarousel"]').carousel('cycle', {
                    interval: 100
                });
            });

            $container.infinitescroll({
                    navSelector: '#page_nav',
                    nextSelector: '#page_nav a',
                    itemSelector: '#isotope-container .item.col-md-3.col-sm-6.col-xs-12',
                    loading: {
                        finished: undefined,
                        msgText: 'Loading new porns...',
                        img: undefined,
                        speed: 'slow',
                        finishedMsg: "You have reached the end!"
                    },
                    
                    extraScrollPx: 150,
                    bufferPx: 5
                },
                function(newElements) {
                    var $newElems = $(newElements).css({opacity: 0});
                     $newElems.imagesLoaded(function(){
                      // show elems now they're ready
                      $newElems.animate({ opacity: 1 });
                      $container.isotope( 'appended', $newElems, true ); 
                    });
                }
            );
        });
        
    </script>

    {% endblock %}
